<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/">
<head>
	<meta charset="UTF-8">
	<title>HelpDesk</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/css/app.css}"/>
</head>
	<div>
		<div class="col-xs-12 col-md-12 text-center">
			<h4>Create new Role</h4>
			
			<form action="" th:action="@{/roles/}" th:object="${role}" th:method="post">
				<div class="form-group">
					<input type="text" th:field="*{name}" name="name" placeholder="Enter role name:" class="form-control" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Role name error</span>					
				</div>	
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a href="/roles" class="btn btn-default">back</a>
				</div>
			</form>
		</div>
		</div>
	<script th:src="@{/layout/js/jquery.js}"></script>
	<script th:src="@{/layout/bootstrap/js/bootstrap.min.js}"></script>
</html>