<footer th:fragment="footer" class="footer">
	<div class="container-fluid text-center">
		&copy; 2020 Núcleo de Pesquisa e Extensão - Campus II
	</div>
</footer>
<script th:src="@{/layout/assets/js/jquery.min.js}"></script>
<script th:src="@{/layout/assets/js/popper.min.js}"></script>
<script th:src="@{/layout/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/layout/assets/js/mdb.min.js}"></script>
<script th:src="@{/layout/assets/js/app.js}"></script>
<script th:src="@{/layout/vendors/js/jquery-ui/jquery-ui.min.js}"></script>