<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/">
	
	<body id="page-top">
		<!-- Page Wrapper -->
	  	<div id="wrapper">	  			
	  		<div id="content-wrapper" class="d-flex flex-column">
	  			<th:block th:replace="fragments/sidebar"></th:block>
	  			<!-- Main Content -->
      			<div id="content">
      			
      			</div>
	  		</div>  				
		</div>
	</body>
	<th:block th:replace="fragments/footer"></th:block>
</html>